In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
bstats1819 = pd.read_csv('bstats1819.csv')

In [5]:
bstats1819.head(5)

,Unnamed: 0,Age,G,GS,MP,FG,FGA,FGpct,3P,3PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PTSZ
0,1,25,31,2,19.0,1.8,5.1,0.357,1.3,4.1,...,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3,-0.542286
1,2,28,10,0,12.3,0.4,1.8,0.222,0.2,1.5,...,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7,-1.131446
2,3,22,34,1,12.6,1.1,3.2,0.345,0.7,2.2,...,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2,-0.885963
3,4,25,80,80,33.4,6.0,10.1,0.595,0.0,0.0,...,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9,0.865151
4,5,21,82,28,23.3,3.4,5.9,0.576,0.0,0.2,...,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9,0.046873

In [6]:
for col in bstats1819.columns: 
    print(col)

Unnamed: 0
Age
G
GS
MP
FG
FGA
FGpct
3P
3PA
3Ppct
2P
2PA
2Ppct
eFG
FT
FTA
FTpct
ORB
DRB
TRB
AST
STL
BLK
TOV
PF
PTS
PTSZ